/* styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Drawing Animation */
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

text {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 5s ease-in-out forwards;
}/* styles/globals.css */
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  text {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: draw 5s ease-in-out forwards, fadeIn 5s ease-in-out forwards;
  }